@import url(https://fonts.googleapis.com/css?family=Hind);

* {
  padding: 0;
  margin: 0;
}

body{
  background-color: var(--dark2);
}
/***THE CONTENT BOX***/
#content {
  height: 100vh;
  background: var(--dark2);
  width: 100vw;
}




/***CLASSES WITH MULTIPLE ELEMENTS***/
.object{
  border-radius: 0.25rem;
  box-shadow: 0 0 8px  #000000;
}
/*FLEXBOX FOR ALIGNING/CENTERING CHILDREN*/
.centerFlex{
  display: flex;
  align-items: center;
  justify-content: center;
}
/*ALIGNING/CENTERING TEXT INPUTS*/
.centerPosition{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*TEXT INPUT TEXT PROPERTIIES*/
.textInput{
  text-align: center;
  font-size: 2rem;
}




/*--------------------------------*/
/***The Title and the Settings***/
/*------------------------------*/
/*The Container*/
#upperBox {
    height: 8%;
    width: 100%;
    position: relative;
    background-color: var(--red);
}


/*The title*/
#titleWrap{
    display: inline-block;
}
#title {
    width: 82%;
    height: 95%;
    background-color: var(--light1);
    position: absolute;
    left: 1%;
    top: 50%;
    transform: translate(0, -50%);
}
h1 {
    color: var(--dark)2;
    font-size: 2rem;
    text-align: center;
}

/*The Settings Button */
#settingsWrap{
    display: inline-block;
}
#gearContain {
    width: 15%;
    height: 95%;
    background-color: var(--red);
    position: absolute;
    right: 1%;
    top: 50%;
    transform: translate(0, -50%);
    border: none;
}
/*The Settings Icon*/
#gear {
    font-size: 3rem;
    color: var(--light1);
    margin: 0;
    padding: 0;
}

#settings {
  background-color: var(--dark2);
  border-radius: 0.5rem;
  box-shadow: 0 0 8px  #000000;
  height: 80vh;
  width: 90vw;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1000;
}

.popUpButtons {
  width: 95%;
  height: 10%;
  margin-top: 10px;
  margin-left: 2.5%;
  background-color: var(--light2);
  border: none;
  border-radius: 0.25rem;
  color: #000000;
  font-size: 2rem;
}

/*  Confirm Logout With Yes/No buttons */
.popUpButtonsYN {
  width: 45%;
  margin-top: 10px;
  margin-left: 2.5%;
  margin-bottom: 2.5%;
  background-color: var(--light2);
  border: none;
  border-radius: 0.25rem;
  color: #000000;
  font-size: 2rem;
}

#confirmLog {
  display: inline-block;
  border-radius: 0.5rem;
  box-shadow: 0 0 8px  #000000;
  width: 80vw;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1000;
}

#confirmText h2 {
  color: white;
}

#confirmText {
  display: flex;
  justify-content: center;
}

/***THE FORM***/
form{
  background-color: var(--dark1);
  width: 100%;
  height: 62.5%;
  margin-top:2vh;
  position: relative;
}
#inputTitle{
  width: 97.5%;
  height: 15%;
  resize: none;
  top: 10%;
  background-color: var(--level1);
  border: none;
  color:white;
} 

#inputBody{
  width: 97.5%;
  height: 77%;
  resize: none;
  top: 59%;
  background-color: var(--level1);
  border: none;
  color:white;
}

/***THE ACTION BOX***/
#actionBox{
  height: 12%;
  width: 100%;
  margin-top: 1.5vh;
  margin-bottom: 2vh;
  background-color: var(--dark1);
}
/*The navbar*/
#actionButtonWrap {
    background-color: var(--red);
    height: 80%;
    width: 97.5%;
    position: relative;
}

/*The so that multiple buttons can be on the same row*/
#createontain {
    display: inline;
}
/*The home button*/
#create {
    height: 85%;
    width: 35%;
    background-color: var(--light2);
    border: none;
    font-size: 3rem;
    font-weight: 500;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(0, -50%);
}
/*The home button icon*/
#createIcon {
    font-size: 3rem;
    color: var(--dark2);
    margin: 0;
    padding: 0;
}

/*The so that multiple buttons can be on the same row*/
#cancelContain {
    display: inline;
}
/*The back button */
#cancel {
    height: 85%;
    width: 35%;
    background-color: var(--light2);
    border: none;
    font-size: 3rem;
    font-weight: 500;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translate(0, -50%);
}
/*The back button icon*/
#cancelIcon {
    font-size: 3rem;
    color: var(--dark2);
    margin: 0;
    padding: 0;
}



/*-----------------------------*/
/**The Navbar at the botton***/
/*----------------------------*/
/*Sticky footer for the navbar*/
footer {
    height: 12.5%;
    width: 100%;
    background-color: var(--dark1);
    bottom: 0px;
    left: 0px;
    position: fixed;
}

/*The navbar*/
nav {
    background-color: var(--red);
    height: 80%;
    width: 97.5%;
    position: relative;
}

/*The so that multiple buttons can be on the same row*/
#homeContain {
    display: inline;
}
/*The home button*/
#home {
    height: 85%;
    width: 35%;
    background-color: var(--light2);
    border: none;
    font-size: 3rem;
    font-weight: 500;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translate(0, -50%);
}
/*The home button icon*/
#homeIcon {
    font-size: 3rem;
    color: var(--dark2);
    margin: 0;
    padding: 0;
}

/*The so that multiple buttons can be on the same row*/
#backContain {
    display: inline;
}
/*The back button */
#back {
    height: 85%;
    width: 35%;
    background-color: var(--light2);
    border: none;
    font-size: 3rem;
    font-weight: 500;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(0, -50%);
}
/*The back button icon*/
#backIcon {
    font-size: 3rem;
    color: var(--dark2);
    margin: 0;
    padding: 0;
    transform: scaleX(-1);
}

