@import url(https://fonts.googleapis.com/css?family=Hind);

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--dark2);
}

/*------------------------------------------------------*/
/*The content box/
/*------------------------------------------------------*/
#content {
    height: 100vh;
    width: 100vw;
    position: relative;
}

/*------------------------------------------------------*/
/*The logo
/*------------------------------------------------------*/
#logoContainer {
    width: 95%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    width: 100%;
}

/*------------------------------------------------------*/
/*Firebase Authentication Window*/
/*------------------------------------------------------*/
#firebaseui-auth-container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (min-width: 800px) {
    #logoContainer {
        width: 70%;
    }
}

@media only screen and (min-width: 1200px) {
    #logoContainer {
        width: 50%;
    }
}